.main-container{
   display:flex;
   justify-content: center;
   align-items: center;
   margin-top: 48px;
   position: relative;
}

.body-background{
   background-image: url("../assets/fondo-web.svg");
   background-repeat: repeat-y;
   background-size: 1113px 891px;
   background-position: right top;
   background-attachment: fixed;
}