main.portfolios-container{
   display:flex;
   justify-content: center;
   align-items: center;
   margin: 16px;
}

.portfolios{
   width: 1384px;
   display: flex;
   flex-direction: column;
   gap: 16px;
}

.portfolios article{
   display: flex;
}

.portfolios p{
   flex: 1;
}

.portfolios hr{
   width: 110%;
   align-self: center;
}
