.portfolios-container{
   width: 952px;
   display: flex;
   flex-direction: column;
   gap: 16px;
}

.portfolios-container hr{
   width: 110%;
   align-self: center;
}

.portfolio-row{
   display: flex;
   flex-direction: row;
   justify-content: space-around;
}

.portfolio-row>p:first-child{
   width: 30%;
}

.portfolio-row>p:not(:last-child):not(:first-child){
   width: 30%;
}

.portfolio-row>p:last-child{
   width: 10%;
   text-align: center;
}

