.portfolio-container{
    display: flex;
    flex-direction: row;
    gap: 48px;
    align-items: center;
    justify-content: center;
}

.card-contact{
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.info-contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.socials{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 16px;
}

.card-info{
    width: 631px;
    display:flex;
    flex-direction: column;
    gap: 24px;
}

.card-info ul{
    padding-left: 24px;
}

.card-info li::marker{
    font-size: 12px;
}

.card-info li:not(:first-child){
    margin-top: 8px;
}

.cards-proyects{
    display: flex;
    flex-direction: column;
    gap: 32px;
}
